{% extends 'base.html' %}

{% block content %}

<section class="sec_del row d-flex justify-content-sm-center text-center mt-5 ">
    <div class="col-sm-10 align-items-center">    
        <h1 >Deletar Livro</h1>        
        <p>Tem certeza que deseja deletar o Livro "{{ livro.nome_livro }}"?</p> 
        
        <form method="post" class="align-items-center">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-sm">Deletar</button>
            <a href="{% url 'lista_livro' %} " class="btn btn-dark btn-sm">Cancelar</a>
        </form>        
    </div>
</section>


{% endblock %}